.dsct-card {
    min-height: 248px;
    max-height: 352px;
    max-width: 746px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid var(--dcttf-color-bg-secundary);
}

.dsct-card img {
    width: 100%;
    max-width: 391px;
    padding: 10px;
}

.dsct-card h3 {
    font-weight: 700;
    font-size: 16px;
    color: var(--dcttf-color-font-primary);
    padding: 10px;
}

@media (min-width: 576px)  {
    .dsct-card h3 {
        font-size: 20px;
    }    
}