.dsct-invitation {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.dsct-invitation h1 {
    color: var(--dcttf-color-font-primary);
    font-weight: 700;
    font-size: 20px;
}

@media (min-width: 576px) {
    .dsct-invitation h1 {
        font-size: 32px;
    }
}