.dsct-catalog-main {
    padding: 0 20px;
}

#dsct-catalog-section {
    /* padding: 25px 0; */
}

.dsct-invitation-container {
    margin: 25px 0;
}

.dsct-catalog-cards-container {
    margin: 0 auto;
}