#dsct-catalog-section {
    padding: 25px 0;
}

.dsct-catalog-main {
    padding: 0 70px;
}

.dsct-invitation-container {
    margin: 40px;
}

.dsct-catalog-cards-container {
    border: 1px solid blue;
}